.DS_Store
bin/
build/light/
build/patchhomekit.ok
build/patchmatter.ok
build/patchsdk.ok
build/temp/
build/*.tar.gz
build/*.tar.xz
esp-clang/
IDEWorkspaceChecks.plist
xcschememanagement.plist
*.xcscheme
*.xcuserstate