[submodule "littlefs"]
	path = littlefs
	url = https://github.com/littlefs-project/littlefs
[submodule "freertos-mqtt"]
	path = freertos-mqtt
	url = https://github.com/metarutaiga/freertos-mqtt
[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf
[submodule "esp-matter"]
	path = esp-matter
	url = https://github.com/espressif/esp-matter.git
[submodule "mini-esphome"]
	path = mini-esphome
	url = https://github.com/NyankoLab/mini-esphome
